extends layout

block content
  h1 These are our database objects
  h5 Click on one of the names
  a(href="/")
    button.btn.btn-success(type="button") Create new object on map
  p 
    table.table
      thead
        tr
          th name
          th JSON
      tbody
        each object, i in jsonlist
          tr
            th 
              a(href="/" + object._id)= object.name
            th= object.json
